<h1> Episode: <%=@episode.number%> </h1>
<h3>Date: <%=@episode.date%> </h3>

Average Rating: <%= @episode.appearances.average(:rating) %> 
<br>
<br>
Guests on show:
<ul>
<% @episode.appearances.each do |e| %>
    <li>
    Rating: <%= e.rating %>, 
    Actor: <%= link_to e.guest.name, guest_path(e.guest) %>
    </li>
<% end %>

</ul>